<% include ../partials/admin-header.ejs %>
    <!-- MAIN CONTENTS -->
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <% if (messages.error) { %>
                <div class="row purchace-popup">
                    <div class="col-12">
                        <span class="d-flex alifn-items-center">
                            <p class="text-danger"><% messages.error %></p>
                            <i class="mdi mdi-close popup-dismiss"></i>
                        </span>
                    </div>
                </div>
            <% } %>

            <% if (messages.success) { %>
                <div class="row purchace-popup">
                    <div class="col-12">
                        <span class="d-flex alifn-items-center">
                            <p class="text-success"><% messages.success %></p>
                            <i class="mdi mdi-close popup-dismiss"></i>
                        </span>
                    </div>
                </div>
            <% } %>

            <div class="row">
                <div id="main" class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <!--<a href="/admin/inventory/stocks/edit/<%= product_no %>"><button type="button" class="btn btn-outline-success title-btn">Edit Product Sizes</button></a>-->
                            <a href="/admin/inventory/product/edit/<%= product_no %>"><button type="button" class="btn btn-outline-success title-btn">Edit Product Details</button></a>
                            <% if (check == 'yes') { %>
                                <a href="/admin/inventory/stocks/update/add/<%= product_no %>"><button type="button" class="btn btn-outline-success title-btn">Update Product Stocks</button></a>
                            <% } %>
                            <a href="/admin/inventory/stocks/add/<%= product_no %>"><button type="button" class="btn btn-outline-success title-btn">Add Product Size</button></a>
                            <a href="/admin/inventory/product/images/<%= product_no %>"><button type="button" class="btn btn-outline-success title-btn">Product Images</button></a>
                            <i class="menu-icon mdi mdi-cube text-info icon-md table-icon"></i>
                            <h4 class="card-title table-name">Product Details</h4><br>
                            <div class="card-body">
                                <blockquote class="blockquote">
                                    <h4 class="text-info">Product Number</h4>
                                    <p><%= product_no %></p>
                                    <h4 class="text-info">Product Name</h4>
                                    <p><%= product_name %></p>
                                    <h4 class="text-info">Product Category</h4>
                                    <p><%= product_cat %></p>
                                    <h4 class="text-info">Product Origination</h4>
                                    <p><%= product_origin %></p>
                                    <h4 class="text-info">Product Slug</h4>
                                    <p><%= product_slug %></p>
                                    <h4 class="text-info">Product Price</h4>
                                    <p><%= product_price %></p>
                                    <h4 class="text-info">Average Cost of Goods</h4>
                                    <p><%= product_cog %></p>
                                    <h4 class="text-info">Product Description</h4>
                                    <p><%= product_desc %></p>
                                </blockquote>
                            </div>
                            <% if (check == 'yes') { %>
                            <h4>Total Stocks</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product SKU</th>
                                            <th>Product Size (Slug)</th>
                                            <th>Product Size (Name)</th>
                                            <th>Total Stock</th>
                                            <th>Available Stock</th>
                                            <th>Reserved Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(data2) { %>
                                            <% data2.forEach(function(product) { %>
                                                <tr>
                                                    <td><%= product.product_sku %></td>
                                                    <td><%= product.product_sizeslug %></td>
                                                    <td><%= product.product_sizename %></td>
                                                    <td><%= product.total_stock %></td>
                                                    <td><%= product.available_stock %></td>
                                                    <td><%= product.reserved_stock %></td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <h4>Stocks</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product SKU</th>
                                            <th>Production Date</th>
                                            <th>Batch Cost of Goods</th>
                                            <th>Shelf Location</th>
                                            <th>Initial Stock</th>
                                            <th>Stocks Left</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(data3) { %>
                                            <% data3.forEach(function(batch) { %>
                                                <tr>
                                                    <td><%= batch.product_sku %></td>
                                                    <td><%= moment(batch.production_date).format('YYYY-MM-DD') %></td>
                                                    <td><%= batch.batch_cog %></td>
                                                    <td><%= batch.shelf_location %></td>
                                                    <td><%= batch.initial_stock %></td>
                                                    <td><%= batch.stock_left %></td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>
                            <!-- Slideshow of product images -->
                        </div>
                    </div>
                </div>
            <!-- END BLOCK QUOTE -->
            </div>

        <!-- content-wrapper ends -->
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                    <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                    <i class="mdi mdi-heart text-danger"></i>
                </span>
            </div>
        </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
<% include ../partials/admin-footer.ejs %>
